<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/base.css"/>
    @RenderSection("Title")
</head>
<body>
<div class="wrapper">
    <header>
        @*        <img id="head-img" src="~/Content/Images/head.jpg"/>*@
        <img src="~/Content/head.jpg" alt="header.jpg" />
    </header>
    <div id="menu">
        <nav>
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Gallery">Gallery</a></li>
                <li><a href="/AboutMe">About me</a></li>
                <li><a href="/Contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="page-buffer"></div>
</div>
    <div class="footer">
        Created by <a href="http://vk.com/mironov_alexei" target="blank_">Alexey Mironov</a>&copy;
    </div>
</body>
</html>
