@model dynamic

@{
    Layout = "~/Views/Home/Base.cshtml";
}
@section Head {
    <title>Home</title>
    <link rel="stylesheet" href="~/Styles/index.css"/>
}
<div class="images">
    <img src="http://s.s-ports.ru/images/styles/690_388/fp_fotos/11/4b/64c0dd8db8fce556a2ba5b29e6bf49075573d9598d252434740132.jpg" alt="Team foto"/>
</div>
<div class="text">
    <h2>«Барселона» в пятый раз в своей истории стала победителем самого престижного клубного турнира. В увлекательном финале Лиги чемпионов каталонцы взяли верх над «Ювентусом».</h2>
    <p>
        Стартовые составы обеих команд легко угадывались еще за несколько дней до финала. Если Луис Энрике мог рассчитывать на всех основных игроков, то вот Массимилиано Аллегри вынужден был обходиться без своего лучшего защитника. Травма голеностопа вывела из строя Джорджио Кьеллини, которого в «старте» заменил Андреа Барцальи.
    </p>
    <p>
        С первых минут «Юве» стал использовать свое главное оружие — высокий прессинг. На какое-то мгновение даже показалось, что туринцам удалось заставить «Барселону» занервничать. Довольно скоро выяснилось, что впечатление это было обманчивым. Каталонцам потребовалось менее четырех минут, чтобы придумать первую голевую атаку. Молниеносная комбинация с участием Альбы, Неймара, Иньесты и Ракитича зажгла на табло берлинского стадиона цифры 1:0 в пользу «Барсы».
    </p>
    <p>
        Попытки всеми силами идти в атаку в матчах против «Барселоны» сродни самоубийству. Суицидальных мыслей у «Ювентуса» не наблюдалось: туринцы, даже уступая в счете, сосредотачивали усилия на обороне собственных ворот. Несмотря на то что Месси в первом тайме был практически незаметен, на количестве острых ситуаций возле ворот Буффона этот факт не сказывался. Сине-гранатовые били из любых позиций при любых возможностях. К счастью для «Старой синьоры» в ее составе есть один из самых опытных и надежных голкиперов Европы. Во многом благодаря Буффону «Ювентусу» удалось ограничиться только одним пропущенным голом до перерыва.
    </p>
    <p>
        Что же касается игры лучшей итальянской команды в атаке, то «Юве» удалось организовать несколько опасных подходов к чужим воротам. Будь удары Маркизио, Тевеса и Мораты чуть точнее, у тер Штегена возникли бы серьезные проблемы. Самой яркой статистической деталью первого тайма стало даже не колоссальное территориальное преимущество «Барсы» (66%-34%), а разница по количеству нарушений: «Ювентус» за 45 минут сфолил 15 (!) раз, в то время как соперник лишь четырежды заставлял Джунейта Чакыра вспоминать о свистке.
    </p>
    <p>
        В начале второго тайма «Барселона» продолжила контролировать ход матча, попутно создавая моменты у ворот Буффона. В итоге каталонцы уж слишком уверовали в свою неуязвимость и моментально поплатились за это: тер Штеген сумел вытащить мяч после удара Тевеса, но вот среагировать на добивание Мораты шансов у немца не было никаких.
    </p>
    <p>
        Забитый мяч стал для «Ювентуса» колоссальным психологическим допингом. Туринцы практически забыли об обороне и, о чудо, сумели прижать «Барсу» к воротам! Подопечные Аллегри ходили вокруг да около второго гола, а мяч в итоге забили каталонцы. Увлечение атакой дорого обошлось «синьоре»: Месси задал космическую скорость контратаке, которую сам же и завершал ударом. Буффон отбил мяч прямо на ногу Суаресу, который с нескольких метров по пустым воротам не промахнулся.
    </p>
    <iframe width="427" height="240" src="https://www.youtube.com/embed/keTEQGrimII" frameborder="0" allowfullscreen id="neymar-goal"></iframe>
    <p>
        Буквально тут же Неймар мог снять все вопросы о победителе, но не сумел чисто реализовать стопроцентный момент: последним касанием он все-таки коснулся мяча рукой.
    </p>
    <p>
        Главным событием в концовке встречи стал выход на поле легенды «Барселоны» Хави, для которого этот матч стал последним в составе каталонского клуба и 151-м в Лиге чемпионов (рекорд турнира). Что же касается непосредственно игры, то несколько сумбурные попытки «Юве» сравнять счет успехом не увенчались. На последней добавленной минуте Неймар все-таки добился своего, поставив точку в очередной контратаке.
    </p>
    <p>
        «Барселона» в пятый раз (1992, 2006, 2009, 2011, 2015) завоевала кубок чемпионов. Лишь две команды в истории турнира выигрывали его чаще: «Реал» (10) и «Милан» (7). «Ювентус» же в четвертый раз кряду уступил в финале главного клубного турнира.
    </p>
</div>