.gallery {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    margin-top: 50px;
}
div[class^="image"]{
    display: flex;
    height: calc(1024px/25%);
    flex-basis: 20%;
}
.gallery .image-5,
.gallery .image-6,
.gallery .image-7,
.gallery .image-8
{
    display: none;
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
}

div[id^="button"] {
    width: 64px;
    height: 64px;
    align-self: center;
}

div[id^="button"] img {
    width: 64px;
    height: 64px;
}

#button-right {
    transform: scale(-1, 1);
    order: 999999;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
}

.modal-image {
    width: 50%;
    height: auto;
    z-index: 20;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end
}

.modal-image img,
.loading {
    align-self: center;
    opacity: 1;
    width: 100%;
    height: 100%;
}
.loading {
    max-width: 200px;
    max-height: 200px;
}
.closing {
    font-size: 50px;
    color: #faf0e6;
    text-align: end;
}
.closing img {
    width: 48px;
    height: 48px;
}
.left,
.right {
    height: 100%;
    flex-basis: 20%;
    min-width: 200px;
}