@model dynamic

@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Home/Base.cshtml";
}
@section Title{
    <title>Home</title>
    <link rel="stylesheet" href="~/Styles/aboutMe.css"/>
}
<h2>Here will be information about me</h2>
