@{
//    ViewBag.Title = "Contacts";
    Layout = "~/Views/Home/Base.cshtml";
}
@section Head {
    <title>Contacts</title>
    <link rel="stylesheet" href="~/Styles/contacts.css" />

}
<div class="text">
    <p>
        <ul id="contacts-list">
            Мне можно написать:
            <li>
                <a href="http://vk.com/mironov_alexei" target="_blank">ВКонтакте</a>
            </li>
            <li>
                <a href="http://twitter.com/1437mquc" target="_blank">В Твиттере</a>
            </li>
            <li>
                <a href="mailto:mironov.alexey.fiit.urfu@gmail.com">На почту</a>
            </li>
        </ul>
    </p>
</div>