@model dynamic

@{
    Layout = "~/Views/Home/Base.cshtml";
}
@section Head{
    <title>My works</title>
    <link rel="stylesheet" href="~/Styles/myworks.css" />
}
@*<h2>Here will be my works</h2>*@
<div class="text">
    <p>
        Кроме данного курса я посещаю спецкурс по front-end разработке от команды разработчиков Яндекса.
        Вот примеры задач, которые мы выполняем в качестве домашних работ:
        <ol id="works">
            <li>
                <a href="/Schedule">Табло аэропорта</a>
            </li>
            <li>
                <a href="/Shelf">Бабуленькин сервант</a>
            </li>
        </ol>
    </p>
    <p>
        Ещё я принимаю участие в проекте лаборатории AIR Labs - CVARC
        Это платформа для проведения соревнований робототехники.<br/>
        Участники должны написать такие же программы, которые обычно пишут
        для реальных роботов для конкретных правил соревнований.
    </p>
    <p>
        Cовсем недавно я успешно выполнил тестовое задание
        и попал в проект <a href="https://kontur.ru/education/programs/shpora/2015">ШПОРА</a>, который организует СКБ Контур.
        Тестовое задание заключалось в написании визуализатора для
        "тетриса" с произвольными размерами стакана и количеством кусков,
        из которых состоят фигуры.
    </p>
    <p>
        А ещё здесь, наверное, должно быть много текста про меня.
        Но я особо ничего не делаю, только хожу на различные пары и спецкурсы и играю в футбол.
        И вообще, сейчас уже <time>2:05</time> ночи и мне очень тяжело придумывать, что здесь написать.
    </p>
    <p>
        Ах, да. Этот сайтик сделан с использовнием технологии ASP.NET MVC 4 и языка C#.<br/>
        Ну и ещё я прикрутил сюда шрифт 'Lobster', взятый с <a href="https://www.google.com/fonts">Google Fonts</a>
        Он выглядит отвратительно и нечитабельно, но на первый взгляд красиво.
    </p>
    <p>
        Если подводить итоги, то можно сказать, что этот сайт сделан весьма неаккуратно, без дизайнерских изысков...
        да что уж там, вообще без намёка на какой-то, хотя бы минимальный, дизайн. Вы можете насмехаться над данным "произведением".
        И будете полностью правы. Если вы каким-то чудом всё же дочитали до этого момента, то хотелось бы выразить огромную благодарность
        за терпение и внимание, которые Вы проявили, посетив этот сайт :) А я, пожалуй, сделаю коммит и пуш, и пойду спать.
    </p>
</div>