@model dynamic

@{
    Layout = "~/Views/Home/Base.cshtml";
}
@section Head{
    <title>My works</title>
    <link rel="stylesheet" href="~/Styles/myworks.css" />
}
@*<h2>Here will be my works</h2>*@
<div class="text">
    <p>
        Кроме данного курса я посещаю спецкурс по front-end разработке от команды разработчиков Яндекса.
        Вот примеры задач, которые мы выполняем в качестве домашних работ:
        <ol id="works">
            <li>
                <a href="/Schedule">Табло аэропорта</a>
            </li>
            <li>
                <a href="/Shelf">Бабуленькин сервант</a>
            </li>
        </ol>
    </p>
    <p>
        Ещё я принимаю участие в проекте лаборатории AIR Labs - CVARC
        Это платформа для проведения соревнований робототехники.<br/>
        Участники должны написать такие же программы, которые обычно пишут
        для реальных роботов для конкретных правил соревнований.
    </p>
    <p>
        Cовсем недавно я успешно выполнил тестовое задание
        и попал в проект <a href="https://kontur.ru/education/programs/shpora/2015">ШПОРА</a>, который организует СКБ Контур.
        Тестовое задание заключалось в написании визуализатора для
        "тетриса" с произвольными размерами стакана и количеством кусков,
        из которых состоят фигуры.
    </p>
</div>